body {
    background: #99ff99;
}
header {
    text-align: center;
    margin: 3% 15% 50px;
}
h1 {
    font-family: "Khula", sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
header nav {
    border-bottom: 3px solid #ff4d4d;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Khula", sans-serif;
    font-size: 1.3em;
}
li:hover {
    border-bottom: 3px solid #666;
}
.selected {
    font-weight: bold;
    color: #ff4d4d;
}
#bracketsChart {
    text-align: center;
}
#imgContainer {
    max-width: 220px;
    position: absolute;
    top: 238px;
    left: 50%;
    background-color: #ff4d4d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -110px;
    z-index: -1;
    padding-bottom: 30px;
    border-radius: 8px;
}
img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}
.fadeIn {
    opacity: 1;
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
}
.fadeOut {
    opacity: 0;
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
}
.node {
    cursor: pointer;
}
.node text {
    font: 0.8em sans-serif;
}
path.link {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
}
#slider {
    height: 50px;
    position: absolute;
    left: 50%;
    top: 750px;
    margin-left: -225px;;
}
.d3slider {
    width: 450px;
}
.d3slider-rect-value {
    fill: #ff4d4d;
}
.d3slider text {
    font: 0.7em sans-serif;
}
